{% extends "todos/base.html" %}

{% block content %}
  <div class="container container--todo">
    <table class="table table--todo">
      <thead class="thead-dark">
        <tr>
          <th class="todo__number" scope="col">#</th>
          <th class="todo__name" scope="col">TODO</th>
          <th class="todo__due-date" scope="col">Deadline</th>
          <th class="todo__progress" scope="col">Progress</th>
          <th class="todo__view" scope="col"></th>
          <th class="todo__edit" scope="col"></th>
          <th class="todo__delete" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="todo">
          <th class="todo__number" scope="row">{{ todo.id }}</th>
          <td class="todo__name">{{ todo.name }}</td>
          <td class="todo__due-date">{{ todo.deadline }}</td>
          <td class="todo__progress">{{ todo.progress }}</td>
          <td class="todo__view"><button type="button" class="btn btn-dark"></button></td>
          <td class="todo__edit"><button type="button" class="btn btn-dark">Edit</button></td>
          <td class="todo__delete"><button type="button" class="btn btn-dark">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}  